# <font color=#023F7C> **Data cleaning and exploration** </font>

<font color=#023F7C>**Hi! PARIS DataBootcamp 2023 游**</font> <br>


<img src = https://www.hi-paris.fr/wp-content/uploads/2020/09/logo-hi-paris-retina.png width = "300" height = "200" >

**What is Data Cleaning ?**<br>

Data cleaning is a crucial step in the data analysis and machine learning process, as the quality of the insights and models generated heavily relies on the accuracy and reliability of the underlying data. Raw data often contains **errors**, **inconsistencies**, **missing values**, and **outliers** that can distort results or lead to faulty conclusions. Data cleaning involves identifying and rectifying these issues, ensuring the dataset is trustworthy and suitable for analysis. 

Python provides a robust ecosystem of libraries and tools for data cleaning tasks. <br>
Python's versatility in data cleaning contributes significantly to producing accurate analyses and reliable machine learning models.
- The `Pandas`  library offers functions to handle missing data through imputation or removal, detect and remove duplicates, and transform data types. 
- The `NumPy` library can assist in dealing with outliers by providing statistical methods for outlier detection and filtering. 
- Additionally, visualization libraries like Matplotlib and Seaborn can help visually identify anomalies.

**Before you start to working on this notebook 丘멆잺**: <br>
Please download/copy this notebook from `hfactory_magic_folders\course` and drop it into your own directory `my_work` on HFactory. <br>
If you don't, you won't be able to save the modifications you've made on this notebook.

**Business case** 游눺: <br>
You've been provided a supply chain dataset by an organization that is trying to improve their supply chain operations.<br>
- The goal of the bootcamp is to use Machine Learning to be able to predict either `Late_delivery_risk` or `Delivery_Status` in the dataset. <br>
- Before building a Machine Learning model, an essential step is to clean and analyze the data with data visualization.

**Need help ? 游똂** <br>
You can go to the Introduction and Intermediate python notebooks to learn how to use the `pandas` library. <br>

## **1. Import libraries and dataset**
First, let's import Python libraries.

In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
pd.set_option('display.max_columns', None) #Show all columns

Then, let's import the dataset `dataset_train.csv` using pandas.

In [65]:
# path=r'~/hfactory_magic_folders/course/Dataset/dataset_train.csv'
path = 'C:\\Users\\rocha\\OneDrive\\츼rea de Trabalho\\Bootcamp\\Dataset\\dataset_train.csv'

# Import the csv file
dataset = pd.read_csv(path,encoding='latin-1',sep=';')

## **2. Data discovery**

**Question 1**: <br> 
**Display the dataset's head and tail.**

In [66]:
df = dataset.copy()

# Drop the columns that are not useful
df.head()

,Unnamed: 0,Type,Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,0,DEBIT,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,lsnbda@kf2v1q.de,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,1,TRANSFER,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,wseo84tf@uc0.com,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast치n,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,2,CASH,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,yzimksmhb9a69x@lg3.uk,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast치n,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,3,DEBIT,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,47o7f@hs33lrrzy.de,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,4,PAYMENT,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,i8klginy@mpxxupn.uk,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [67]:
df.tail()

,Unnamed: 0,Type,Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
135395,135395,TRANSFER,50.000000,100.000000,Shipping on time,0,24,Women's Apparel,Goleta,EE. UU.,37efs0xs0ody@325xon1.fr,Thomas,5625,Smith,XXXXXXXXX,Consumer,CA,6876 Grand Park,93117.0,5,Golf,34.412930,-119.860718,LATAM,Mixco,Guatemala,5625,1/12/2015 11:43,788,502,0.0,0.00,1945,50.0,0.50,2,100.0,100.000000,50.000000,Central America,Guatemala,PENDING,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.0,0,1/16/2015 11:43,Standard Class
135396,135396,TRANSFER,35.000000,100.000000,Shipping on time,0,24,Women's Apparel,Chicago,EE. UU.,01dlkyr@r43p3dw4.com,Kenneth,11417,Whitney,XXXXXXXXX,Consumer,IL,6697 Thunder Dale Downs,60649.0,5,Golf,41.759094,-87.561768,LATAM,Colima,Mexico,11417,4/13/2017 4:36,57078,502,0.0,0.00,142776,50.0,0.35,2,100.0,100.000000,35.000000,Central America,Colima,PENDING,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.0,0,4/17/2017 4:36,Standard Class
135397,135397,TRANSFER,-40.740002,58.200001,Late delivery,1,29,Shop By Sport,Brooklyn,EE. UU.,s52lfoewbp9x@krcpuml3.uk,Crystal,4572,Lucero,XXXXXXXXX,Consumer,NY,415 Golden Meadow,11201.0,5,Golf,40.664894,-73.945335,LATAM,Ilopango,El Salvador,4572,4/3/2017 20:44,56439,642,1.8,0.03,141165,30.0,-0.70,2,60.0,58.200001,-40.740002,Central America,San Salvador,PENDING,NaN,642,29,NaN,http://images.acmesports.sports/Columbia+Men%2...,Columbia Men's PFG Anchor Tough T-Shirt,30.0,0,4/8/2017 20:44,Standard Class
135398,135398,TRANSFER,34.919998,97.000000,Late delivery,0,24,Women's Apparel,Wichita,EE. UU.,0r0pgfg879xxll@o46i.com,Elizabeth,2001,Smith,XXXXXXXXX,Consumer,KS,4148 Round Parkway,67212.0,5,Golf,37.619770,-97.339600,LATAM,Mexico City,Mexico,2001,3/28/2017 22:51,56034,502,3.0,0.03,140098,50.0,0.36,2,100.0,97.000000,34.919998,Central America,Distrito Federal,PENDING,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.0,0,4/2/2017 22:51,Standard Class
135399,135399,TRANSFER,29.100000,97.000000,Shipping on time,0,24,Women's Apparel,Tonawanda,EE. UU.,lb174sqpdxu4jz@q7.com,Mary,4458,Smith,XXXXXXXXX,Consumer,NY,2122 Hazy Corner,14150.0,5,Golf,43.013969,-78.879066,LATAM,Tlalpan,Mexico,4458,3/13/2017 19:53,54998,502,3.0,0.03,137545,50.0,0.30,2,100.0,97.000000,29.100000,Central America,Distrito Federal,PENDING,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.0,0,3/17/2017 19:53,Standard Class

**Question 2**: <br> **Use the pandas function `.info()` to get general information on the dataset.**<br>

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135400 entries, 0 to 135399
Data columns (total 52 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  135400 non-null  int64
 1   Type                        135400 non-null  object
 2   Benefit per order           135400 non-null  float64
 3   Sales per customer          135400 non-null  float64
 4   Delivery Status             135400 non-null  object
 5   Late_delivery_risk          135400 non-null  int64
 6   Category Id                 135400 non-null  int64
 7   Category Name               135400 non-null  object
 8   Customer City               135400 non-null  object
 9   Customer Country            135400 non-null  object
 10  Customer Email              135400 non-null  object
 11  Customer Fname              135400 non-null  object
 12  Customer Id                 135400 non-null  int64
 13  Customer Lname              135394 non-null  object
 14  Customer Password           135400 non-null  object
 15  Customer Segment            135400 non-null  object
 16  Customer State              135400 non-null  object
 17  Customer Street             135400 non-null  object
 18  Customer Zipcode            135397 non-null  float64
 19  Department Id               135400 non-null  int64
 20  Department Name             135400 non-null  object
 21  Latitude                    135400 non-null  float64
 22  Longitude                   135400 non-null  float64
 23  Market                      135400 non-null  object
 24  Order City                  135400 non-null  object
 25  Order Country               135400 non-null  object
 26  Order Customer Id           135400 non-null  int64
 27  order date (DateOrders)     135400 non-null  object
 28  Order Id                    135400 non-null  int64
 29  Order Item Cardprod Id      135400 non-null  int64
 30  Order Item Discount         135400 non-null  float64
 31  Order Item Discount Rate    135400 non-null  float64
 32  Order Item Id               135400 non-null  int64
 33  Order Item Product Price    135400 non-null  float64
 34  Order Item Profit Ratio     135400 non-null  float64
 35  Order Item Quantity         135400 non-null  int64
 36  Sales                       135400 non-null  float64
 37  Order Item Total            135400 non-null  float64
 38  Order Profit Per Order      135400 non-null  float64
 39  Order Region                135400 non-null  object
 40  Order State                 135400 non-null  object
 41  Order Status                135400 non-null  object
 42  Order Zipcode               18021 non-null   float64
 43  Product Card Id             135400 non-null  int64
 44  Product Category Id         135400 non-null  int64
 45  Product Description         0 non-null       float64
 46  Product Image               135400 non-null  object
 47  Product Name                135400 non-null  object
 48  Product Price               135400 non-null  float64
 49  Product Status              135400 non-null  int64
 50  shipping date (DateOrders)  135400 non-null  object
 51  Shipping Mode               135400 non-null  object
dtypes: float64(15), int64(13), object(24)
memory usage: 53.7+ MB

**What can you say about the loaded dataset ?**

**Question 3**:  <br> **Print all the columns/variables of the dataset.**

In [69]:
df.describe()

,Unnamed: 0,Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,Longitude,Order Customer Id,Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135397.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,18021.000000,135400.000000,135400.000000,0.0,135400.000000,135400.0
mean,67699.500000,20.805146,173.745404,0.549727,31.813885,6706.516292,39302.195145,5.417718,30.774345,-86.647199,6706.516292,36626.977548,690.955665,19.616993,0.101655,91249.186846,130.873369,0.120969,2.132489,193.362166,173.745404,20.805146,55435.937018,690.955665,31.813885,NaN,130.873369,0.0
std,39086.757561,100.295515,116.072699,0.497523,15.848260,4203.657985,37618.062067,1.636583,9.574937,21.689582,4203.657985,21364.994374,339.621373,20.902461,0.070393,52882.353008,130.567468,0.466073,1.462739,127.913476,116.072699,100.295515,31959.985409,339.621373,15.848260,NaN,130.567468,0.0
min,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,-158.025986,1.000000,1.000000,19.000000,0.000000,0.000000,1.000000,9.990000,-2.750000,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,33849.750000,6.610000,101.980003,0.000000,18.000000,3253.000000,725.000000,4.000000,18.279493,-105.024590,3253.000000,18305.000000,403.000000,5.200000,0.040000,45754.750000,50.000000,0.080000,1.000000,119.980003,101.980003,6.610000,23434.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,67699.500000,30.240000,159.990005,1.000000,29.000000,6448.000000,29223.000000,5.000000,33.831776,-80.210175,6448.000000,36601.000000,627.000000,13.490000,0.100000,91365.500000,59.990002,0.270000,1.000000,179.970001,159.990005,30.240000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,101549.250000,61.709999,227.410004,1.000000,46.000000,9813.000000,80012.000000,7.000000,39.718856,-66.370605,9813.000000,55033.250000,1014.000000,27.500000,0.160000,137640.500000,199.990005,0.360000,3.000000,250.000000,227.410004,61.709999,90004.000000,1014.000000,46.000000,NaN,199.990005,0.0
max,135399.000000,864.000000,1919.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,115.263077,20757.000000,77204.000000,1363.000000,500.000000,0.250000,180519.000000,1999.989990,0.500000,5.000000,1999.989990,1919.989990,864.000000,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

## **3. Analyze the dataframe's dtypes**
**Question 4**: <br> 
**Create 3 lists, each containing columns names with an int, float and object type.**
- List 1: Columns with an `int64` type
- List 2: Columns with a `float64` type
- List 3: Columns with an `object` type.

*Note: You can use pandas' `.select_dtypes()` function to get columns with a specific dtype.* <br>
*Create a list from a Pandas Dataframe/series with `.to_list()`*

In [70]:
int_list_1 = df.select_dtypes(include=['int64']).columns.to_list()
print(int_list_1)

['Unnamed: 0', 'Late_delivery_risk', 'Category Id', 'Customer Id', 'Department Id', 'Order Customer Id', 'Order Id', 'Order Item Cardprod Id', 'Order Item Id', 'Order Item Quantity', 'Product Card Id', 'Product Category Id', 'Product Status']

In [71]:
float_list_2 = df.select_dtypes(include=['float64']).columns.to_list()
print(float_list_2)

['Benefit per order', 'Sales per customer', 'Customer Zipcode', 'Latitude', 'Longitude', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Product Price', 'Order Item Profit Ratio', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Zipcode', 'Product Description', 'Product Price']

In [72]:
obj_list_3 = df.select_dtypes(include=['object']).columns.to_list() #Describe the categorical variables
print(obj_list_3)

['Type', 'Delivery Status', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Department Name', 'Market', 'Order City', 'Order Country', 'order date (DateOrders)', 'Order Region', 'Order State', 'Order Status', 'Product Image', 'Product Name', 'shipping date (DateOrders)', 'Shipping Mode']

**Question 5**: <br> 
**Compute the number of unique values for the columns with an object and int type.** <br>

*Note: Combine the list with int columns and object columns using the `+` operator*. <br>
*Create a dataframe with the number of unique values and the corresponding variable.*

In [73]:
int_obj_list = int_list_1 + obj_list_3
print(len(int_obj_list))

unique_values = []

for col in int_obj_list:
    unique_values.append(df[col].nunique())
    print(col, df[col].nunique())

37
Unnamed: 0 135400
Late_delivery_risk 2
Category Id 51
Customer Id 18907
Department Id 11
Order Customer Id 18907
Order Id 56554
Order Item Cardprod Id 118
Order Item Id 135400
Order Item Quantity 5
Product Card Id 118
Product Category Id 51
Product Status 1
Type 4

Delivery Status 4
Category Name 50
Customer City 563
Customer Country 2
Customer Email 135400
Customer Fname 774
Customer Lname 1106
Customer Password 1
Customer Segment 3
Customer State 46
Customer Street 7331
Department Name 11
Market 5
Order City 3549
Order Country 164
order date (DateOrders) 56554
Order Region 23
Order State 1080
Order Status 9
Product Image 118
Product Name 118
shipping date (DateOrders) 55043
Shipping Mode 4

**Which column/variable has over 15 unique values ?**

In [74]:
print("Variables over 15 unique values:")

for idx, val in enumerate(unique_values):
    if val > 15: 
        print(int_obj_list[idx])

Variables over 15 unique values:
Unnamed: 0
Category Id
Customer Id
Order Customer Id
Order Id
Order Item Cardprod Id
Order Item Id
Product Card Id
Product Category Id
Category Name
Customer City
Customer Email
Customer Fname
Customer Lname
Customer State
Customer Street
Order City
Order Country
order date (DateOrders)
Order Region
Order State
Product Image
Product Name
shipping date (DateOrders)

**Question 6**: <br>
**Compute the summary statistics of columns with a float type, with pandas' `.describe()` function.** <br>

In [75]:
df[float_list_2].describe()

,Benefit per order,Sales per customer,Customer Zipcode,Latitude,Longitude,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Description,Product Price
count,135400.000000,135400.000000,135397.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,135400.000000,18021.000000,0.0,135400.000000
mean,20.805146,173.745404,39302.195145,30.774345,-86.647199,19.616993,0.101655,130.873369,0.120969,193.362166,173.745404,20.805146,55435.937018,NaN,130.873369
std,100.295515,116.072699,37618.062067,9.574937,21.689582,20.902461,0.070393,130.567468,0.466073,127.913476,116.072699,100.295515,31959.985409,NaN,130.567468
min,-4274.979980,7.490000,603.000000,-33.937553,-158.025986,0.000000,0.000000,9.990000,-2.750000,9.990000,7.490000,-4274.979980,1040.000000,NaN,9.990000
25%,6.610000,101.980003,725.000000,18.279493,-105.024590,5.200000,0.040000,50.000000,0.080000,119.980003,101.980003,6.610000,23434.000000,NaN,50.000000
50%,30.240000,159.990005,29223.000000,33.831776,-80.210175,13.490000,0.100000,59.990002,0.270000,179.970001,159.990005,30.240000,59405.000000,NaN,59.990002
75%,61.709999,227.410004,80012.000000,39.718856,-66.370605,27.500000,0.160000,199.990005,0.360000,250.000000,227.410004,61.709999,90004.000000,NaN,199.990005
max,864.000000,1919.989990,99205.000000,48.781933,115.263077,500.000000,0.250000,1999.989990,0.500000,1999.989990,1919.989990,864.000000,99301.000000,NaN,1999.989990

**Do you detect outliers (weird/abnormal values) in the data ?**

## **4. Analyze missing values**

**Question 7**: <br> **Compute the number of NaN value for every variable/column** <br> 

*Note: A NaN value represents a missing value in a cell of the dataframe* <br>
*You can use the `.isna()` function.*

In [76]:
nan_variables = df.isna().sum()

**Which variables of the dataset has missing values ?**

In [77]:
# var that have missing values 
nan_variables[nan_variables > 0]

Customer Lname              6
Customer Zipcode            3
Order Zipcode          117379
Product Description    135400
dtype: int64

**Question 8:** <br> 
**Drop the columns of the dataset that have missing values with `.dropna(axis=1)`. <br>**
Don't forget to add `.reset_index(drop=True)` after dropping the NaN values in the dataframe !

In [78]:
df_clean = df.dropna(axis=1).reset_index(drop=True)
df_clean

,Unnamed: 0,Type,Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Password,Customer Segment,Customer State,Customer Street,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,0,DEBIT,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,lsnbda@kf2v1q.de,Cally,20755,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,1,TRANSFER,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,wseo84tf@uc0.com,Irene,19492,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast치n,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,2,CASH,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,yzimksmhb9a69x@lg3.uk,Gillian,19491,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast치n,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,3,DEBIT,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,47o7f@hs33lrrzy.de,Tana,19490,XXXXXXXXX,Home Office,CA,3200 Amber Bend,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,4,PAYMENT,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,i8klginy@mpxxupn.uk,Orli,19489,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135395,135395,TRANSFER,50.000000,100.000000,Shipping on time,0,24,Women's Apparel,Goleta,EE. UU.,37efs0xs0ody@325xon1.fr,Thomas,5625,XXXXXXXXX,Consumer,CA,6876 Grand Park,5,Golf,34.412930,-119.860718,LATAM,Mixco,Guatemala,5625,1/12/2015 11:43,788,502,0.000000,0.00,1945,50.00,0.50,2,100.00,100.000000,50.000000,Central America,Guatemala,PENDING,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,1/16/2015 11:43,Standard Class
135396,135396,TRANSFER,35.000000,100.000000,Shipping on time,0,24,Women's Apparel,Chicago,EE. UU.,01dlkyr@r43p3dw4.com,Kenneth,11417,XXXXXXXXX,Consumer,IL,6697 Thunder Dale Downs,5,Golf,41.759094,-87.561768,LATAM,Colima,Mexico,11417,4/13/2017 4:36,57078,502,0.000000,0.00,142776,50.00,0.35,2,100.00,100.000000,35.000000,Central America,Colima,PENDING,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,4/17/2017 4:36,Standard Class
135397,135397,TRANSFER,-40.740002,58.200001,Late delivery,1,29,Shop By Sport,Brooklyn,EE. UU.,s52lfoewbp9x@krcpuml3.uk,Crystal,4572,XXXXXXXXX,Consumer,NY,415 Golden Meadow,5,Golf,40.664894,-73.945335,LATAM,Ilopango,El Salvador,4572,4/3/2017 20:44,56439,642,1.800000,0.03,141165,30.00,-0.70,2,60.00,58.200001,-40.740002,Central America,San Salvador,PENDING,642,29,http://images.acmesports.sports/Columbia+Men%2...,Columbia Men's PFG Anchor Tough T-Shirt,30.00,0,4/8/2017 20:44,Standard Class
135398,135398,TRANSFER,34.919998,97.000000,Late delivery,0,24,Women's Apparel,Wichita,EE. UU.,0r0pgfg879xxll@o46i.com,Elizabeth,2001,XXXXXXXXX,Consumer,KS,4148 Round Parkway,5,Golf,37.619770,-97.339600,LATAM,Mexico City,Mexico,2001,3/28/2017 22:51,56034,502,3.000000,0.03,140098,50.00,0.36,2,100.00,97.000000,34.919998,Central America,Distrito Federal,PENDING,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,4/2/2017 22:51,Standard Class
135399,135399,TRANSFER,29.100000,97.000000,Shipping on time,0,24,Women's Apparel,Tonawanda,EE. UU.,lb174sqpdxu4jz@q7.com,Mary,4458,XXXXXXXXX,Consumer,NY,2122 Hazy Corner,5,Golf,43.013969,-78.879066,LATAM,Tlalpan,Mexico,4458,3/13/2017 19:53,54998,502,3.000000,0.03,137545,50.00,0.30,2,100.00,97.000000,29.100000,Central America,Distrito Federal,PENDING,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,3/17/2017 19:53,Standard Class

**If you don't want to drop rows, you can replace the missing values in each variable** <br>
Try the following methods only if the variable has a small number of NaN values (less than 10%).
- Replace with the mean or median value for continuous variables (mostly columns with a float dtype)
- Replace with the variable's most frequent value (`.mode()`) or by creating a new category for categorical variables (mostly columns with an int/object dtype)

You can drop the variables with a high number of missing values.

In [79]:
df_clean_v2 = df.drop(['Order Zipcode','Product Description'], axis=1)

In [80]:
# replacing Nan Values in Customer Zipcode with the mean value of the column
df_clean_v2['Customer Zipcode'] = df_clean_v2['Customer Zipcode'].fillna(df_clean_v2['Customer Zipcode'].mean())

In [81]:
# replacing Nan values in Customer Lname with the most frequent value of the column
df_clean_v2['Customer Lname'] = df_clean_v2['Customer Lname'].fillna(df_clean_v2['Customer Lname'].mode()[0])

At this step, the dataset shouldn't have any missing values (you can check with `.isna().sum().sum()`)

In [82]:
df_clean_v2.isna().sum().sum()

0

**Question 9**: <br>
We want to share this dataset with a customer. Can we do this without modifying it? <br>
If not, drop the element/variables that we have to delete

In [83]:
df_clean_v2

drop_columns = ['Customer Email', 'Customer Fname', 'Customer Lname', 'Customer Password', 'Customer Id']
dataset_train_clean = df_clean_v2.drop(drop_columns, axis=1)

**Question 10**: <br>
**Save the cleaned dataframe as a csv file called `dataset_train_clean.csv` using pandas' `.to_csv()` function.** <br>
*Note: Make sure to add `index=False` to the `.to_csv()` function or else the index of the dataframe will be saved too.*

In [84]:
dataset_train_clean.to_csv('dataset_train_clean.csv', index=False)

**Analyzing the variables of object type**: <br>

Since *'Customer Country', 'Customer Segment', 'Customer Password', 'Market', 'Shipping Mode', 'Order Status', 'Department Name', 'Type', 'Delivery Status', 'Category Name'* are low cardinality variables, these can be Label Encoded. <br>

In [85]:
unique_values = []

for col in obj_list_3:
    unique_values.append(df[col].nunique())
    print(col, df[col].nunique())

Type 4
Delivery Status 4
Category Name 50
Customer City 563
Customer Country 2
Customer Email 135400
Customer Fname 774
Customer Lname 1106
Customer Password 1
Customer Segment 3
Customer State 46
Customer Street 7331
Department Name 11
Market 5
Order City 3549
Order Country 164
order date (DateOrders) 56554
Order Region 23
Order State 1080
Order Status 9
Product Image 118
Product Name 118
shipping date (DateOrders) 55043
Shipping Mode 4

**Label Encoding**

In [86]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

dataset_train_clean['Customer Country'] = le.fit_transform(dataset_train_clean['Customer Country'])
dataset_train_clean['Customer Segment'] = le.fit_transform(dataset_train_clean['Customer Segment'])
dataset_train_clean['Market'] = le.fit_transform(dataset_train_clean['Market'])
dataset_train_clean['Shipping Mode'] = le.fit_transform(dataset_train_clean['Shipping Mode'])
dataset_train_clean['Order Status'] = le.fit_transform(dataset_train_clean['Order Status'])
dataset_train_clean['Department Name'] = le.fit_transform(dataset_train_clean['Department Name'])
dataset_train_clean['Type'] = le.fit_transform(dataset_train_clean['Type'])
# dataset_train_clean['Delivery Status'] = le.fit_transform(dataset_train_clean['Delivery Status'])
dataset_train_clean['Category Name'] = le.fit_transform(dataset_train_clean['Category Name'])

**Breaking variables of datetime type into year, month, day, hour**

In [87]:
# breaking the dates into month, day, year and hour
dataset_train_clean['order date (DateOrders)'] = pd.to_datetime(dataset_train_clean['order date (DateOrders)'])
dataset_train_clean['shipping date (DateOrders)'] = pd.to_datetime(dataset_train_clean['shipping date (DateOrders)'])

dataset_train_clean['shipping_dayofweek'] = dataset_train_clean['shipping date (DateOrders)'].dt.dayofweek
dataset_train_clean['shipping_month'] = dataset_train_clean['shipping date (DateOrders)'].dt.month
dataset_train_clean['shipping_day'] = dataset_train_clean['shipping date (DateOrders)'].dt.day
dataset_train_clean['shipping_year'] = dataset_train_clean['shipping date (DateOrders)'].dt.year
dataset_train_clean['shipping_hour'] = dataset_train_clean['shipping date (DateOrders)'].dt.hour

dataset_train_clean['order_dayofweek'] = dataset_train_clean['order date (DateOrders)'].dt.dayofweek
dataset_train_clean['order_month'] = dataset_train_clean['order date (DateOrders)'].dt.month
dataset_train_clean['order_day'] = dataset_train_clean['order date (DateOrders)'].dt.day
dataset_train_clean['order_year'] = dataset_train_clean['order date (DateOrders)'].dt.year
dataset_train_clean['order_hour'] = dataset_train_clean['order date (DateOrders)'].dt.hour

In [88]:
dataset_train_clean

,Unnamed: 0,Type,Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,shipping_dayofweek,shipping_month,shipping_day,shipping_year,shipping_hour,order_dayofweek,order_month,order_day,order_year,order_hour
0,0,1,91.250000,314.640015,Advance shipping,0,73,40,Caguas,1,0,PR,5365 Noble Nectar Island,725.0,2,4,18.251453,-66.037056,3,Bekasi,Indonesia,20755,2018-01-31 22:56:00,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,2,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-02-03 22:56:00,3,5,2,3,2018,22,2,1,31,2018,22
1,1,3,-249.089996,311.359985,Late delivery,1,73,40,Caguas,1,0,PR,2679 Rustic Loop,725.0,2,4,18.279451,-66.037064,3,Bikaner,India,19492,2018-01-13 12:27:00,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast치n,5,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-18 12:27:00,3,3,1,18,2018,12,5,1,13,2018,12
2,2,0,-247.779999,309.720001,Shipping on time,0,73,40,San Jose,0,0,CA,8510 Round Bear Gate,95125.0,2,4,37.292233,-121.881279,3,Bikaner,India,19491,2018-01-13 12:06:00,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast치n,1,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-17 12:06:00,3,2,1,17,2018,12,5,1,13,2018,12
3,3,1,22.860001,304.809998,Advance shipping,0,73,40,Los Angeles,0,2,CA,3200 Amber Bend,90027.0,2,4,34.125946,-118.291016,3,Townsville,Australia,19490,2018-01-13 11:45:00,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,2,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-16 11:45:00,3,1,1,16,2018,11,5,1,13,2018,11
4,4,2,134.210007,298.250000,Advance shipping,0,73,40,Caguas,1,1,PR,8671 Iron Anchor Corners,725.0,2,4,18.253769,-66.037048,3,Townsville,Australia,19489,2018-01-13 11:24:00,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,6,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 11:24:00,3,0,1,15,2018,11,5,1,13,2018,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135395,135395,3,50.000000,100.000000,Shipping on time,0,24,47,Goleta,0,0,CA,6876 Grand Park,93117.0,5,6,34.412930,-119.860718,2,Mixco,Guatemala,5625,2015-01-12 11:43:00,788,502,0.000000,0.00,1945,50.00,0.50,2,100.00,100.000000,50.000000,Central America,Guatemala,5,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,2015-01-16 11:43:00,3,4,1,16,2015,11,0,1,12,2015,11
135396,135396,3,35.000000,100.000000,Shipping on time,0,24,47,Chicago,0,0,IL,6697 Thunder Dale Downs,60649.0,5,6,41.759094,-87.561768,2,Colima,Mexico,11417,2017-04-13 04:36:00,57078,502,0.000000,0.00,142776,50.00,0.35,2,100.00,100.000000,35.000000,Central America,Colima,5,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,2017-04-17 04:36:00,3,0,4,17,2017,4,3,4,13,2017,4
135397,135397,3,-40.740002,58.200001,Late delivery,1,29,38,Brooklyn,0,0,NY,415 Golden Meadow,11201.0,5,6,40.664894,-73.945335,2,Ilopango,El Salvador,4572,2017-04-03 20:44:00,56439,642,1.800000,0.03,141165,30.00,-0.70,2,60.00,58.200001,-40.740002,Central America,San Salvador,5,642,29,http://images.acmesports.sports/Columbia+Men%2...,Columbia Men's PFG Anchor Tough T-Shirt,30.00,0,2017-04-08 20:44:00,3,5,4,8,2017,20,0,4,3,2017,20
135398,135398,3,34.919998,97.000000,Late delivery,0,24,47,Wichita,0,0,KS,4148 Round Parkway,67212.0,5,6,37.619770,-97.339600,2,Mexico City,Mexico,2001,2017-03-28 22:51:00,56034,502,3.000000,0.03,140098,50.00,0.36,2,100.00,97.000000,34.919998,Central America,Distrito Federal,5,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,2017-04-02 22:51:00,3,6,4,2,2017,22,1,3,28,2017,22
135399,135399,3,29.100000,97.000000,Shipping on time,0,24,47,Tonawanda,0,0,NY,2122 Hazy Corner,14150.0,5,6,43.013969,-78.879066,2,Tlalpan,Mexico,4458,2017-03-13 19:53:00,54998,502,3.000000,0.03,137545,50.00,0.30,2,100.00,97.000000,29.100000,Central America,Distrito Federal,5,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.00,0,2017-03-17 19:53:00,3,4,3,17,2017,19,0,3,13,2017,19

**Verifying Class Imbalance**

In [89]:
# Check class distribution
print("Delivery Status class distribution:")
print(dataset['Delivery Status'].value_counts())

print("\n Late_delivery_risk class distribution:")
print(dataset['Late_delivery_risk'].value_counts())

Delivery Status class distribution:
Late delivery        73681
Advance shipping     31459
Shipping on time     25390
Shipping canceled     4870
Name: Delivery Status, dtype: int64

 Late_delivery_risk class distribution:
1    74433
0    60967
Name: Late_delivery_risk, dtype: int64

In [90]:
dataset_train_clean_LDR = dataset_train_clean.drop(['Delivery Status'], axis=1)  
dataset_train_clean_DS = dataset_train_clean.drop(['Late_delivery_risk'], axis=1)

**Undersampling the class distribution for 'Delivery Status'**

For Delivery Status, the class Shipping canceled is significantly underrepresented. If we apply oversampling to this minority class, it may lead to overfitting. Hence, it might be advisable to use undersampling to bring down the numbers of other classes to be more in line with Shipping canceled.

In [91]:
from sklearn.utils import resample

df_late_delivery = dataset_train_clean_DS[dataset_train_clean_DS['Delivery Status']=='Late delivery']
df_advance_shipping = dataset_train_clean_DS[dataset_train_clean_DS['Delivery Status']=='Advance shipping']
df_shipping_on_time = dataset_train_clean_DS[dataset_train_clean_DS['Delivery Status']=='Shipping on time']
df_shipping_canceled = dataset_train_clean_DS[dataset_train_clean_DS['Delivery Status']=='Shipping canceled']

df_late_delivery_downsampled = resample(df_late_delivery, replace=False, n_samples=len(df_shipping_canceled), random_state=123)
df_advance_shipping_downsampled = resample(df_advance_shipping, replace=False, n_samples=len(df_shipping_canceled), random_state=123)
df_shipping_on_time_downsampled = resample(df_shipping_on_time, replace=False, n_samples=len(df_shipping_canceled), random_state=123)

dataset_train_clean_DS = pd.concat([df_late_delivery_downsampled, df_advance_shipping_downsampled, df_shipping_on_time_downsampled, df_shipping_canceled])
dataset_train_clean_DS['Delivery Status'] = le.fit_transform(dataset_train_clean_DS['Delivery Status'])


print(dataset_train_clean_DS['Delivery Status'].value_counts())

1    4870
0    4870
3    4870
2    4870
Name: Delivery Status, dtype: int64

**Oversampling the class distribution for 'Late Delivery Risk'**

In [92]:
df_majority = dataset_train_clean_LDR[df['Late_delivery_risk']==1]
df_minority = dataset_train_clean_LDR[df['Late_delivery_risk']==0]

majority_count = len(df_majority)

df_minority_oversampled = resample(df_minority,
                                   replace=True,  
                                   n_samples=majority_count,  
                                   random_state=123) 

dataset_train_clean_LDR = pd.concat([df_majority, df_minority_oversampled])

print(dataset_train_clean_LDR['Late_delivery_risk'].value_counts())

1    74433
0    74433
Name: Late_delivery_risk, dtype: int64

**Verifying again variables of object type in both datasets**

In [96]:
for col in dataset_train_clean_LDR.select_dtypes(include=['object']).columns:
    print(col, dataset_train_clean_LDR[col].nunique())

Customer City 563
Customer State 46
Customer Street 7274
Order City 3530
Order Country 161
Order Region 23
Order State 1076
Product Image 118
Product Name 118

In [95]:

for col in dataset_train_clean_DS.select_dtypes(include=['object']).columns:
    print(col, dataset_train_clean_DS[col].nunique())

Customer City 560
Customer State 44
Customer Street 5655
Order City 2716
Order Country 145
Order Region 23
Order State 937
Product Image 116
Product Name 116

**Applying Target Encoding**

In [100]:
import category_encoders as ce

target_encoder = ce.TargetEncoder(cols=['Customer State'])
df_encoded = target_encoder.fit_transform(df, df['Late_delivery_risk'])

df_encoded

for col in dataset_train_clean_DS.select_dtypes(include=['object']).columns:
    if dataset_train_clean_DS[col].nunique() < 200:
        target_encoder = ce.TargetEncoder(cols=[col])
        dataset_train_clean_DS = target_encoder.fit_transform(dataset_train_clean_DS, dataset_train_clean_DS['Delivery Status'])
        dataset_train_clean_LDR = target_encoder.fit_transform(dataset_train_clean_LDR, dataset_train_clean_LDR['Late_delivery_risk'])
    else:
        dataset_train_clean_DS = dataset_train_clean_DS.drop(col, axis=1)
        dataset_train_clean_LDR = dataset_train_clean_LDR.drop(col, axis=1)

**Exporting the cleaned datasets**

In [104]:
dataset_train_clean_DS.to_csv('dataset_train_clean_DS.csv', index=False)
dataset_train_clean_LDR.to_csv('dataset_train_clean_LDR.csv', index=False)